@import url("./reset.css");

.app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 33, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    display: flex;
}
/* login styles */
.loginContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 33, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincard{
    background-color: rgb(0, 22, 32);
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 12rem;
    justify-content: center;
    align-items: center;
    color: rgb(204, 204, 204);
    border-radius: .5rem;
}
.Loginicon{
    color: rgb(0, 89, 131);
    cursor: pointer;
}
.Loginicon:hover{
    color: rgb(212, 212, 212);
}
.LoginInput{
    background-color: rgb(0, 89, 131);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color:white;
}
.LoginInput::placeholder {
    color: rgb(182, 182, 182);
  }
.loginButton{
    background-color: transparent;
    border: none
}
.loginForm{
    display: flex;
    align-items: center;
    gap: .5rem
}



/* sidebar styles */
.sidebarContainer{
    background-color: rgb(0, 22, 32);
    height: 37.5rem;
    width: 17rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    color: rgb(175, 175, 175);
    font-family: sans-serif;
    overflow-x: hidden;
}
.sidebarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(0, 89, 131);
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}
.containerIconsHeader{
    display: flex;
    gap: 1rem
}
.iconHeader{
    cursor: pointer;
    color: rgb(0, 89, 131)
}
.iconHeader:hover{
    color: white
}
.sidebarChanels{
    height: 28rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.sidebarChanels::-webkit-scrollbar{
    display: none;
}
.chanel{
    cursor: pointer;
    padding: 1rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.1s ease-in-out; 
}
.chanel:hover{
    color: white;
    transform: scale(1.1);
}
.infoUser{
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(0, 89, 131);
    font-size: large;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userName{
    overflow: hidden;
    text-overflow: ellipsis;
}
[type="color"] {
    border: none;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
  }
.colorpickercontainer{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid rgb(0, 89, 131);
    overflow: hidden;
}



/* chat styles */
.containerChat{
    margin-right: 1rem;
}
.currentChanel{
    display:flex;
    align-items: center;
    background-color:rgb(0, 22, 32);
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    color: rgb(204, 204, 204);
    font-size: large;
}
.messageChat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 29, 43);
    height: 27.5rem;
    border-radius: .5rem;
    padding: 1rem;
}
.containerMessage{
    width: 95%;
    height: 26rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.containerMessage::-webkit-scrollbar{
    display: none;
}
.inputChat{
    background-color: rgb(0, 29, 43);
    width: 40rem;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
    color:white;
}
.containerInputChat{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 22, 32);
    margin-top: 1rem;
    width: 50rem;
    height: 5rem;
    border-radius: .5rem;
}
.Chatform{
    display: flex;
    align-items: center;
    align-content: center;
    gap: .5rem;
    position: relative;
}
.Sendicon {
    cursor: pointer;
    color: rgb(0, 89, 131)
}
.Sendicon:hover{
    color: white;
}
.buttonSend{
    background-color: transparent;
    border: none;
}
.emojibutton{
    cursor: pointer;
    color: rgb(0, 89, 131);
}
.emojibutton:hover{
    color: white;
}
.emojiPicker{
    position: absolute;
    margin-right: -30rem;
    margin-bottom: -6rem;
}



/* message styles */
.conrainerMessage{
    color: rgb(212, 212, 212);
    margin-bottom: 2.5rem;
}
.userMessage{
    display: flex;
    align-items: center;
    color: rgb(223, 223, 223);
    gap: .7rem
}
.messageDate{
    font-size: .7rem;
    color: rgb(133, 133, 133);
}
.messagetext{
    display: flex;
    margin-top: .3rem;
    width: 35rem;
    word-break: break-all;
}




/* medias */
@media (max-width: 1024px) {
    .containerChat{
        width: 30rem;
    }
    .containerInputChat{
        width: 30rem;
    }
    .inputChat{
        width: 20rem;
    }
    .sidebarContainer{
        width: 13rem;
    }
    .emojiPicker{
        margin-right: -10rem;
    }
}
@media (max-width: 768px) {
    .messageChat{
        height: 47rem;
    }
    .sidebarContainer{
        height: 57rem;
    }
    .sidebarChanels{
        height: 49rem;
    }
    .containerMessage{
        height: 45rem;
    }
    .emojiPicker{
        margin-bottom: -30rem;
    }
}
@media (max-width: 720px){
    .messageChat{
        height: 26rem;
    }
    .sidebarContainer{
        height: 36rem;
        width: 10rem;
    }
    .sidebarChanels{
        height: 28rem;
    }
    .containerMessage{
        height: 26rem;
    }
    .containerChat{
        width: 25rem;
    }
    .containerInputChat{
        width: 25rem;
    }
    .inputChat{
        width: 25rem;
    }
    .inputChat{
        width: 16rem;
    }
    .emojiPicker{
        margin-bottom: -9rem;
        margin-right: -7rem;
    }
}

@media (max-width: 540px){
    .messageChat{
        height: 26rem;
    }
    .sidebarContainer{
        height: 36rem;
        width: 7rem;
    }
    .sidebarChanels{
        height: 28rem;
    }
    .containerMessage{
        height: 26rem;
    }
    .containerChat{
        width: 15rem;
    }
    .containerInputChat{
        width: 15rem;
    }
    .inputChat{
        width: 15rem;
    }
    .inputChat{
        width: 6rem;
    }
    .emojiPicker{
        margin-bottom: -9rem;
        margin-right: -7rem;
    } 
    .sidebarHeaderTitle{
        display: none;
    }
    .sidebarHeader{
        justify-content: center;
    }
    .userName{
        display: none;
    }
    .infoUser{
        justify-content: center;
    }
}
@media (max-width: 415px) {
    .messageChat{
        height: 27rem;
    }
    .sidebarContainer{
        height: 34rem;
        width: 3rem;
    }
    .containerIconsHeader{
        gap: 0;
    }
    .sidebarChanels{
        height: 26rem;

    }
    .chanel{
        padding-left: 0%;
        font-size: small;
    }
    .containerMessage{
        height: 25rem;
    }
    .currentChanel{
        height: 0;
        font-size: medium;
    }
    .colorpickercontainer{
        width: 1rem;
        height: 1rem;
    }
    .containerChat{
        width: 15rem;
    }
    .containerInputChat{
        width: 15rem;
        height: 3rem;
    }
    .inputChat{
        width: 7.5rem;
        height: .6rem;
    }
    .emojiPicker{
        margin-bottom: -10rem;
        margin-right: 1rem;
    }
}

@media (max-width: 360px) {
    .messageChat{
        height: 27rem;
    }
    .sidebarContainer{
        height: 34rem;
        width: 2rem;
    }
    .colorpickercontainer{
        width: 1rem;
        height: 1rem;
    }
  
}