@import url("./reset.css");

.app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 33, 48);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
    display: flex;
}
/* login styles */
.loginContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 33, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincard{
    background-color: rgb(0, 22, 32);
    display: flex;
    width: 20rem;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(204, 204, 204);
    border-radius: .5rem;
}
.Loginicon{
    color: rgb(0, 89, 131);
    cursor: pointer;
}
.Loginicon:hover{
    color: rgb(212, 212, 212);
}



/* sidebar styles */
.sidebarContainer{
    background-color: rgb(0, 22, 32);
    height: 37.5rem;
    width: 17rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    color: rgb(175, 175, 175);
    font-family: sans-serif;
}
.sidebarHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(0, 89, 131);
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}
.containerIconsHeader{
    display: flex;
    gap: 1rem
}
.iconHeader{
    cursor: pointer;
    color: rgb(0, 89, 131)
}
.iconHeader:hover{
    color: white
}
.sidebarChanels{
    height: 28rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.sidebarChanels::-webkit-scrollbar{
    display: none;
}
.chanel{
    cursor: pointer;
    padding: 1rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.1s ease-in-out; 
}
.chanel:hover{
    color: white;
    transform: scale(1.1);
}
.infoUser{
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(0, 89, 131);
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* chat styles */
.currentChanel{
    display:flex;
    align-items: center;
    background-color:rgb(0, 22, 32);
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    color: rgb(204, 204, 204);
    font-size: large;
}
.messageChat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 29, 43);
    height: 27.5rem;
    border-radius: .5rem;
    padding: 1rem;
}
.containerMessage{
    width: 95%;
    height: 26rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.containerMessage::-webkit-scrollbar{
    display: none;
}
.inputChat{
    background-color: rgb(0, 29, 43);
    width: 40rem;
    padding: .8rem;
    border: none;
    border-radius: .5rem;
    color:white;
}
.containerInputChat{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 22, 32);
    margin-top: 1rem;
    width: 50rem;
    height: 5rem;
    border-radius: .5rem;
}
.Chatform{
    display: flex;
    align-items: center;
    align-content: center;
    gap: .5rem;
    position: relative;
}
.Sendicon {
    cursor: pointer;
    color: rgb(0, 89, 131)
}
.Sendicon:hover{
    color: white;
}
.buttonSend{
    background-color: transparent;
    border: none;
}
.emojibutton{
    cursor: pointer;
    color: rgb(0, 89, 131);
}
.emojibutton:hover{
    color: white;
}








/* message styles */
.conrainerMessage{
    color: rgb(212, 212, 212);
    margin: 2rem;
}
.userMessage{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgb(133, 133, 133);
}
.messageDate{
    font-size: .7rem;
    color: rgb(133, 133, 133);
}
.messagetext{
    display: flex;
    margin-left: 3rem;
    width: 35rem;
    word-break: break-all;
}